body {
  color: black;
}
.home-link {
  padding-top: 3px;
  color: #7b59c4 !important;
}
.nav-bar {
  width: 100%;
  /* background-color: #ff5702; */
  height: 70px;
  z-index: 999;
  margin-bottom: 100px;
}
.brand {
  color: #7b59c4;
  font-size: 36pt;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.nav-links a {
  font-weight: lighter;
  text-decoration: none;
  display: block;
  margin: 20px;

  font-size: 18pt;
  color: white;
}
.nav-links a:hover {
  color: #ff5702;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    justify-content: center;
  }
  .nav-links a {
    /* font-size: 12pt; */
    margin: 15px;
  }
}
